body {
    background-color: rgb(179, 179, 179);
    font-family: 'Times New Roman', Times, serif;
}

.vr-thumb {
    width: 20%;
}

.property-thumb {
    width: 20%;
}

.panolens-infospot {
    font-size: 28pt;
}

.tour-popup {
    font-size: 28pt;
    display: none;
    background-color: #fff;
    padding: 20px;
}